#myTextArea:not(.browser-default) {
    width: 400px;
    height: 50px;
    position: relative;
    border: 2px solid #bdbdbd;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

#textAreaContent {
    display:block;
    width: 100%;
    
}

#charCountWrapper {
    position: absolute;
    bottom: 5px;
    right: 5px;
    float: right;
    
    width: 30px;
    height: auto;
    padding: 3px;
    background-color: #4a4a4a;
    border-radius: 3px;
    
    font-size: 12px;
    color: white;
    text-align: center;
}
.highlightExcessChars {
    color: white;
    background-color: #e74c3c;
}

/* Styles for interactivity */

#myTextArea:focus {
    outline: 0px solid transparent; /* overrides browser outline on focus state */
    border: 2px solid #26a69a !important;
}

#myTextArea-label:active {
  font-size: 0.8rem;
  -webkit-transform: translate(-10px, -175%) !important;
          transform: translate(-10px, -175%) !important;
}